<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 style="font-family:Satisfy;">
        <b>
          Send money through
        </b>
      </h1>

      <br>
      <br>
      <br>

      <ul style="list-style: none;" id="content">
        <li>
          <div>
            <button id="paytm" class="btn btn-primary" style="padding: 20px 40px;">
              <b>PAYTM</b>
            </button>
            <span style="margin-left: 20px; font-size: 1.7em;">
              +91***********
            </span>
          </div>
        </li>

        <li>
          <div>
            <button id="paytm" class="btn btn-info" style="padding: 20px 40px;">
              <b>PAYPAL</b>

            </button>
            <span style="margin-left: 20px; font-size: 1.7em;">
              tushar555@.......
            </span>
          </div>
        </li>

        <li>
          <div>
            <button id="paytm" class="btn btn-success" style="padding: 20px 40px;">
              <b>GOOGLE PAY</b>
            </button>
            <span style="margin-left: 20px; font-size: 1.7em;">
              +91**********
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>


<style>
  #paytm:hover {
    background: white;
    color: black;
  }

  #content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 10px;


  }

</style>
