<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="col-md-4">
        <br>
        <br>
        <br>
        <div class="card">
          <div class="card-body">
            <img style="opacity:0.9;" src="https://image.ibb.co/i10bbL/download.jpg" height="310px" width="500px">

          </div>
        </div>



      </div>
      <br>
      <br>
      <div class="col-md-6 col-md-offset-2">
        <div class="content">

          <div id="cc" style="border: 1px solid black; padding: 20px 40px; margin: 10px; border-bottom: 2px solid grey; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
            <br>

            <p style="margin-left:30px; font-size: 1.5em;">
              <a style="text-decoration:none; cursor:pointer; color: black;" routerLink="/donations">
                DONATONS
              </a>
            </p>
          </div>
          <div id="cc" style="margin-top:25px; border: 1px solid black; padding: 20px 40px; margin: 10px; border-bottom: 2px solid grey; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
            <div id="" style="margin-bottom: 20px;">

            </div>
            <p style="margin-left:30px; font-size: 1.5em;">
              RAISING ISSUES
            </p>

          </div>
          <div id="cc" style="margin-top:25px; border: 1px solid black; padding: 20px 40px; margin: 10px; border-bottom: 2px solid grey; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
            <br>

            <p style="margin-left:30px; font-size: 1.5em;">
              <a style="text-decoration:none; cursor:pointer; color: black;" routerLink="/volunteer">
                VOLUNTEER
              </a>



            </p>

          </div>
          <div id="cc" style="margin-top:25px; border: 1px solid black; padding: 20px 40px; margin: 10px; border-bottom: 2px solid grey; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);">
            <br>

            <p style="margin-left:30px; font-size: 1.5em;">


              <a style="text-decoration:none; cursor:pointer; color: black;" routerLink="/movements">
                SOCIAL EVENTS
              </a>

            </p>


          </div>
        </div>
      </div>


    </div>

  </div>


</div>
<br>
<br>
<br>
<br>
<p class="text-center" style="font-size: 3.7em; color: brown; font-family: Satisfy;">
  Put a smile 😊 on someone's face!!
</p>


<style>
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* max-width: 20px; */
  }

  #cc {

    -webkit-transition: 0.5s;
    transition: 0.5s;

    background: #F0ECE2;
  }

  #cc:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: white;

  }

</style>
