<!-- Fixed navbar -->
<nav class="navbar navbar-inverse" style="background:#C7B198; font-weight: bold; color:white; height: 17px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" style="font-family: Satisfy; height: 12px; background: #C7B198 ; color:white;">Smile</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/" style="color:white;">Home </a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dashboard">Dashboard</a></li> -->

        <li *ngIf="authService.loggedIn()" class="dropdown">
          <a href="#" style="color:white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="height: 50px; color:white;">
            <img src="https://image.ibb.co/b0m3QT/default_avatar.png" width="30px" height="30px" class="img-circle" />

            <span style="margin-left:15px;" class="caret"></span>
          </a>


          <ul class="dropdown-menu" role="menu">
            <li>
              <a routerLink="/profile"> Profile </a>
            </li>
            <li role="separator" class="divider"></li>

            <li>

              <a href="#"> Edit Profile </a>
            </li>
            <li role="separator" class="divider"></li>
            <li *ngIf="authService.loggedIn()">
              <a href="#" (click)="onLogoutClick()">Logout</a>
            </li>

          </ul>
        </li>



        <!-- <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/blog">Blog</a></li> -->
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="height: 8px; background:#C7B198; color:white;">
          <a routerLink="/login" style="color:white;">Login</a>
        </li>


        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" style="height: 8px; background:#C7B198; color:white;">
          <a routerLink="/register" style="color:white;">Register</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>



<div class="clearfix">

</div>






<style>
  #nav-item {
    color: white;
  }

  #nav-item:hover {
    /* background: lightsalmon; */
  }

  .navbar {
    /* border: none; */
    /* border-top: 0.9px solid lightsalmon; */
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 4px 8px 0 lightsalmon(0, 0, 0, 0.2);
  }

  .navbar:hover {
    box-shadow: 0 4px 8px 0 lightsalmon(0, 0, 0, 0.2);
  }


  .top-left {
    position: absolute;
    width: 40%
  }

  .links {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
  }

</style>
