<app-navbar></app-navbar>

<div>
  <flash-messages></flash-messages>
  <router-outlet>

  </router-outlet>


</div>

<br>
<br>
<br>


<footer class="footer text-center" style="background: black ;width:100%; color:white; position: fixed; bottom:0; padding: 10px 15px;">
  <div class="container">
    <a routerLink="/developers" style="text-decoration:none; cursor: pointer;">

      <span class="text-muted">&copy; Copyright 2018 | Smile Community |
      </span>
    </a>

    <!-- <a routerLink="/" style="text-decoration:none; cursor: pointer;">
  
        <span class="text-muted">| About
        </span>
      </a> -->

  </div>
</footer>
